<!doctype html>
<html lang="es">

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-responsive.css' %}">
    <!--estilos css-->
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/estilos.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="static/assets/media/logo2.jpg" type="image/jpg" />
</head>

<body>
    <!-- Menú -->
    <header class="navbar navbar-expand-lg  bd-navbar">
        <div class="menu list-group">
            <nav class="">
                <ul class="">
                    <li class="">
                        <img src="{% static 'assets/media/img/logo2.jpg' %}" alt=""
                            style="width: 83px; margin-left: 30px; margin-right: 50px; margin-top: 8px;">
                    </li>
                    <li>
                        <a class="" href="{% url 'index' %}">¿Qué es COINSA?</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'index' %}">¿Quiénes somos?</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'nosotros' %}">Nuestro equipo de trabajo</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'contacto' %}">Contáctenos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    {% block contenido %} {% endblock%}
    <!-- Pie de pagina -->
    
    <!-- JavaScript -->
    <!-- jQuery primero, luego Popper.js, luego Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>



